.Batch {
  margin: 1.5em;
  padding: 10px;
  background-color: #f5fbfd12;
  border: solid 15px rgb(0, 151, 167);
  border-radius: 10px;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.Batch, ul {
  display: inline-block;
  text-align: center;
}

.batch_single {
 background-color: rgb(0, 151, 167) !important;
}