article.Batch {
  -webkit-box-shadow: 7px 6px 5px 1px #542b2b;
  box-shadow: 7px 6px 5px 1px #ded2d2;
  margin: 1em;
  padding: 5px;
  background-color: #f5fbfd12;
  border: solid 2px #e8eaea;
  border-radius: 1px;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}