article.Batch {
  margin: 1.5em;
  padding: 10px;
  background-color: #f5fbfd12;
  border: solid 15px rgb(0, 151, 167);
  border-radius: 10px;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}