article.Batch {
  margin: 1em;
  padding: 5px;
  background-color: #f5fbfd12;
  border: solid 2px #e8eaea;
  border-radius: 1px;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}